.products__wrapper {
    overflow: hidden;
}
.products {
    text-align: center;
    padding: 15rem 0 20rem;
}
.sub-title__box {
    position: relative;
    margin-bottom: 3rem;
}
.prod__title {
    font-size: 5rem;
    margin-bottom: 4rem;
    font-family: var(--title-font);
}
.success-message {
    background-color: var(--success);
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    margin-bottom: 2rem;
    text-align: center;
}
.success-message--active {
    opacity: 1;
    visibility: visible;
}
.products .sub-title {
    margin-bottom: 0;
    padding-bottom: 7rem;
}
.products .item {
    margin-top: 8rem;
    position: relative;
}
.product__block {
    padding: .5rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.product {
    display: block;
    margin-bottom: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.product__text-box {
    position: relative;
}
/* .product__img-box {
    background-color: var(--second-brand-color);
    padding: .5rem;
} */
.product .img {
    display: block;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    position: relative;
}
.product__name {
    font-family: var(--title-font);
    font-size: 1.8rem;
    margin-bottom: 1rem;
    display: inline-block;
}
.product__price {
    display: block;
    font-size: 1.6rem;
    /* font-family: var(--title-font); */
    /* color: var(--first-brand-color); */
}
.product__text-box {
    padding: 3rem 0 1rem;
}
.product__btn {
    width: 100%;
    font-size: 1.6rem;
    padding: .7rem 1.2rem;
    margin-left: 0;
} 

.products-title {
    position: relative;
    display: inline-block;
}
.products-title:before {
    display: block;
    content: '';
    position: absolute;
    background-color: var(--third-brand-color);
    bottom: 0;
    right: -5rem;
    width: 100%;
    height: 10rem;
    z-index: -1;
}
@media screen and (min-width: 1024px) {  
    .products__list {
        /* padding: 10rem; */
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 5rem;
        row-gap: 20rem;
    }
    .products .item {
        margin-top: 0;
        text-align: left;
    }
    /* .products .item .btn {
        margin-left: 5rem;
        margin-bottom: 5rem;
    } */
    /* .products .item:nth-child(even) {
        text-align: right;
    }
    .products .item:nth-child(even) .btn {
        margin-right: 5rem;
        margin-left: auto;
    }
    .product__block {
        background-color: var(--second-brand-color);
        padding: 1rem;
    }
    .product__text-box {
        padding-left: 5rem;
        padding-right: 5rem;
    } */
}


